.header{
    display: flex;
    justify-content: space-between;
    padding:0.8rem 3.5rem;
    align-items: center;
}
.logo{
    display: inline-flex;
    align-items: center;
    gap: 0.8rem;
    font-size: 1.5rem;
}
.nav{
    display: flex;
    gap: 1em;
}
.nav a{
    color: black;
}
.nav a:first-child{
    color: blue;
}

.nav a:hover{
    color: blue;
}
.header-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
.menu-bar-container{
    border: 2px solid;
    padding: 0.3rem;
    border-radius: 0.3rem;
    display: none;
}
@media screen and (max-width:800px) {
    .header{
        padding: 0.8rem 0.1rem;
    }
    .nav{
        display: none;
    }
    .menu-bar-container{
        display: block;
    }
}
